<div class="glass-box" style="margin:50px auto;">
    <h2>Premium Resume 🚀</h2>

    <form action="/generate-premium" method="POST" enctype="multipart/form-data">

        <input type="text" name="name" placeholder="Your Name" required><br><br>

        <input type="email" name="email" placeholder="Your Email" required><br><br>

        <input type="text" name="mobile" placeholder="Mobile Number"><br><br>

        <textarea name="skills" placeholder="Skills"></textarea><br><br>

        <textarea name="experience" placeholder="Experience"></textarea><br><br>

        <textarea name="extra" placeholder="Extra"></textarea><br><br>

        <input type="file" name="photo"><br><br>

        <button class="otp-btn">Generate Premium Resume</button>
    </form>
</div>
